body{
    background-color: #281717;
    color: #fff;

}

form {
    display: flex;
    justify-content: center;
    gap: 4px;
}

ul {
    display: flex;
    flex-flow: column;
    justify-content: left;
    list-style-type: none;
}

input,
button {
    border-radius: 10px;
    padding: 8px;
}